## Basic types

In [1]:
a = 10

In [2]:
b = 1.5

In [3]:
c = 'hello'

In [4]:
d ='a'

In [5]:
#type() returns the type of the variable passed as parameter
type(a)

int

In [6]:
type(b)

float

In [7]:
type(c)

str

In [8]:
#There is no char type in python by default it is considered as string
type(d)

str

## Arithmatic operations

In [9]:
#addition
10 + 5

15

In [10]:
#subtraction
20 - 10

10

In [11]:
#multiplication
10 * 2

20

In [12]:
#division
20 / 3

6.666666666666667

In [13]:
#Modulus
20 % 3

2

In [14]:
#integer division
20 // 3

6

In [15]:
# power
5 ** 2

25

## Variables in Python

#### Rules
- Must start with a letter or the underscore character.
- A variable name cannot start with a number.
- A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
- Variable names are case-sensitive (age, Age and AGE are three different variables)

In [16]:
first = 10

In [17]:
_first = 10

In [18]:
1first = 10 #rules for variable declaration is not followed

SyntaxError: invalid syntax (<ipython-input-18-049b12e0fc43>, line 1)

In [19]:
first@ = 10 #rules for variable declaration is not followed

SyntaxError: invalid syntax (<ipython-input-19-bcf744b54100>, line 1)

In [20]:
print('Hello world!') #prints the contents inside '' onto the display

Hello world!

In [21]:
print("Hello world!") #"" can be used instead of '' inside print statements

Hello world!

In [22]:
#this is a sinle line comment

In [23]:
'''
This is 
....
...
mulitiline comment
''' 
# ''' ''' is used for multiline comments

print('Hi.....')

Hi.....

In [24]:
print(3 + 7)

10

In [25]:
print('3 + 7') #prints 3 + 7 because its a string

3 + 7

In [26]:
name = 'Supra'

In [27]:
print(name) #prints value in varaible name

Supra

In [28]:
print('Hello '+ name) #here + concates(or join) the value in variable to the string and prints on the display

Hello Supra

In [29]:
print(5 + 7)                   #numerical calculation
print('5' + '7')               #string concatination

12
57

## Shorthand operators

In [30]:
a = 10
b = 20
c = 30
d = 40
e = 50

In [31]:
a += 10         #a = a + 10
a

20

In [32]:
b -= 10         #b = b - 1
b

10

In [33]:
c *= 10        #c = c * 10
c

300

In [34]:
d /= 10      #d = d / 10
d

4.0

In [35]:
e %= 10      #e = e % 10
e

0